#root {
  height: 100%;
}

.fpgsuW {
  height: 100%;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(210, 210, 210);

  .userPorfile {
    display: flex;
    height: 700px;
    width: 1100px;
    border-radius: 20px;
    box-shadow: 3px 3px rgb(206, 201, 201);
    background-color: white;
  }
}
