// body {
//   height: 100%;
//   width: 100%;
// }

.background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100%;
  // width: 100%;
  background-color: slategrey;
}

.cv {
  display: flex;
  flex-direction: column;
  height: 1000px;
  width: 1000px;
  background-color: red;
}
