.main-part {
  display: flex;
  flex-direction: column;
  flex: 2 1;

  .header {
    width: 100%;
    height: 130px;
    background-color: rgb(49, 60, 78);
    margin-top: 50px;
    .about-user {
      h1 {
        margin: 20px 20px 0;
        color: white;
      }
    }
    .profession-input {
      width: 300px;
      margin-left: 20px;
      border: none;
      outline: none;
      color: white;
      background-color: #313c4e;
      font-size: 20px;
      border-bottom: 1px solid;
    }
  }
  .education,
  .certificates {
    display: flex;
    margin-top: 30px;
    border-bottom: solid 1px;
    margin-bottom: 10px;
  }
  .plus-icon {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  .all-education-divs {
    .education-div > input {
      margin-bottom: 10px;
      border: none;
      outline: none;
    }
  }
}

.ant-modal-header {
  background-color: #425061;
}

.ant-modal-footer {
  background-color: #425061;
}

.contact-icons {
  height: 20px;
  width: 20px;
  background-image: url("https://d.novoresume.com/yna_pub/svg/contact/givenName/white.svg");
}

.allInputs {
  display: flex;
}

.input-and-icon {
  display: flex;
  align-items: center;
}

.datepicker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
