.main-body {
  margin: 0;
  width: 100%;
  position: relative;
}

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(180, 182, 176, 0.657);
}

.first-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
}

.first-icon .icon-cv {
  font-size: 75px;
}

.second-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
}

.second-icon .icon-edit {
  font-size: 75px;
}

.third-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
}

.third-icon .copy-icon {
  font-size: 75px;
}

.bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(180, 182, 176, 0.657);
}

.first-step {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
}

.first-step .first-circle {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: rgb(30, 255, 0);
}

.second-step {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
}

.second-step .second-circle {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: rgb(30, 255, 0);
}

.third-step {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
}

.third-step .third-circle {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: rgb(30, 255, 0);
}
