.main-body {
  margin: 0;
  width: 100%;
  position: relative;
}

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 15px;
  border-bottom: 1px solid rgba(180, 182, 176, 0.657);
}

.icons-and-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 35px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: lightgray;
  overflow: hidden;
  text-align: center;
  font-size: 50px;
}

.icon-content {
  margin-top: 5px;
  text-align: center;
}

.bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 75px 15px;
  border-bottom: 1px solid rgba(180, 182, 176, 0.657);
}

.steps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 120px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: rgb(30, 255, 0);
}

.circle > h4 {
  font-size: 25px;
  color: white;
}
